# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# npm dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

storybook-static
.nx/
.docusaurus/
.cache-loader/
build-storybook.log
chromatic-diagnostics.json
chromatic.log

# Generate
**/generated-locales/*.json

## Vite's temporary configs https://github.com/vitejs/vite/issues/13267
vite.config.*.timestamp-*.mjs

# https://github.com/antfu-collective/vite-plugin-inspect
.vite-inspect/

# Env files
.env
.env.local
.local.env
